01172018_pendingwebservice/BANCO_CIF_T24_TO_OFAC_App/INTERFACEMON_md.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="REQUEST">
    <xsd:sequence>
      <xsd:element name="UUID" type="xsd:string"/>
      <xsd:element name="FILENAME" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RESPONSE">
    <xsd:sequence>
      <xsd:element name="UUID" type="xsd:string"/>
      <xsd:element name="FILENAME" type="xsd:string"/>
      <xsd:element name="STATUS" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="CIFReplayRequest" type="REQUEST">
  </xsd:element>
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="CIFReplayResponse" type="RESPONSE">
  </xsd:element>
</xsd:schema>